@model IEnumerable<HotelManagement.Models.Item>

@{
    ViewData["Title"] = "Items";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="col-md-12" style="padding: 0;">
    <form asp-action="Index" method="get">
        <div class="form-group" style="display: inline-block; width: calc(100% - 5em);">
            <label for="SearchPhrase" class="control-label"></label>
            <input name="SearchPhrase" class="form-control" value="@ViewBag.SearchPhrase" />
        </div>
        <div class="form-group" style="display: inline-block; vertical-align: bottom;">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table" id="tbl_items">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <span style="white-space: pre-line;">@Html.DisplayFor(modelItem => item.Description)</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>
@*<input type="button" value="go" onclick="ajaxTest()"/>*@
@section scripts
{
    <script>
        var tbl_items;
        $(function () {
            var visibleColumns = [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1, orderable:false },
            ];
            tbl_items = $('#tbl_items').DataTable({
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': 'Items/GetItems',
                    'type': "POST"
                },
                "iDisplayLength": 10,
                "order": [[1, 'asc']],
                'columns': [
                    { data: 'name' },
                    { data: 'quantity' },
                    { data: 'quantityPar' },
                    { data: 'price' },
                    { data: 'description' },
                    { data: 'action' }
                ],
                "columnDefs": visibleColumns,
                "scrollY": "400px",
                responsive: true,
                autoWidth: false
            });
        });

        function ajaxTest() {

            $.ajax({
                url: 'Items/ajaxTest',
                type: "POST",
                dataType: "text",
                data: {
                    l1a: {
                        l2a: {
                            l3a: 1,
                            l3b:'a'
                        },
                        l2b: {
                            l3a: '1.2',
                            l3b: true
                        },
                        l2c: "3.2"
                    },
                    l1b: "23"
                },
                success: function (response) {
                    $('#formPrompt').html(response);
                }
            });

        }
    </script>
}