@model HotelManagement.Models.Order

@{
    ViewData["Title"] = "Audit Details";
}

<div style="float:right;">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<h1>Audit Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.empName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_updated)
        </dd>
    </dl>
</div>
@if (ViewBag.userPermission == "ADMIN" && Model.Status == "Unapproved")
{
    <form asp-action="ApproveAudit" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Approve Audit" class="btn btn-primary" />
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model.OrderItems)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => items.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items.Quantity)
                </td>
                <td>
                    @*<a asp-controller='Items' asp-action="Edit" asp-route-id="@items.ItemId">Edit</a> |*@
                    <a asp-controller='OrderItems' asp-action="Edit" asp-route-id="@items.Id">Edit</a> |
                    <a asp-controller='Items' asp-action="Details" asp-route-id="@items.ItemId">Details</a> |
                    <a asp-controller='OrderItems' asp-action="Delete" asp-route-id="@items.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>